* {
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.form-into-carrousel{
    max-width: 100%;
    z-index: 1;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }

  .social-icons .social-icon:last-child {
    margin-right: 0;
  }

  .social-icons .social-icon:hover {
    background-color: #dc3545;
  }
  
  .social-icons-lk .social-icon-lk:hover {
    background-color: #006097;
  }

  .dev-icons {
    font-size: 3rem;
  }